@model CarIndexViewModel
@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>License plate</th>
            <th>Owner</th>
            <th>Car</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.LicensePlate</td>
                <td>@car.Owner.FirstName @car.Owner.Name</td>
                <td>@car.Type.Brand @car.Type.Model</td>
            </tr>
        }
    </tbody>
</table>