@model OwnerIndexViewModel
@{
    ViewData["Title"] = "Owners";
}

<h1>Owners</h1>
@foreach (var owner in Model.Owners)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@owner.FirstName @owner.Name</th>
            </tr>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>License plate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in owner.Cars)
            {
                <tr>
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@car.Id">@car.TypeLabel.Split(' ')[0]</a></td>
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@car.Id">@car.TypeLabel.Split(' ')[1]</a></td>
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@car.Id">@car.LicensePlate</a></td>
                </tr>
            }
        </tbody>
    </table>
} 